{% extends 'base.html' %}
{% load static %}
<head>
    <title>archive-website</title>
</head>
{% block content %}
<!-----------------mai content------------------------->
        <div class="archive" >
            <div class="archive-title" id="title-tag">Website Archive</div>
            {% for image in content.image %}
            <div class="archive-container" style="background-image: url('{{ image.thumbnail.url }}');">
                <div class="tag" id="body-tag"><a href="{{ image.link }}" target="_blank">View Design..</a></div>
            </div>
            {% endfor %}
            
        </div>
{% endblock content %}